


* {
  box-sizing: border-box;
text-shadow: 1px 1px gray;
text-align: center;
}

body {
background-color: linear-gradient(#69618a, #032041);
font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
  border: 0px solid blue;
  background-image: url("https://zdnet2.cbsistatic.com/hub/i/r/2012/11/26/278e55cc-1d11-11e4-8c7f-00505685119a/thumbnail/770x578/d7ee420bbcc0785819eb1f6950790483/cloud-horizon.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
nav {
  font-family: 'helvetica', serif;
  letter-spacing: -4px;
  font-weight: bold;
  font-size: 52px;


}

#container heading {
    font-family: 'helvetica', serif;
    text-align: left;
    /* background-color: blue; */
    border-bottom: 6px double black;
    /* min-width: 100%; */
  letter-spacing: -4px;
  font-weight: bold;
  font-size: 82px;
  display: block;
  padding-top: 5px;
}



/*
a {
  color: white;
  font-family: helvetica;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 2px;
  font-size: 20px;
}

#container a {
  color: white;
  font-family: helvetica;
  letter-spacing: -4px;
  font-size: 40px;
  text-decoration: none;
  text-transform: none;
  /* padding: 2px;

} */



#productlink a{
  background-color: transparent;
  font-size: 60px;
  font-family: helvetica;
  text-decoration: none;
  color: black;
  max-width: 100%;
  /* display: block; */
font-weight: bold;
  letter-spacing: -3px;
    transition: 0.8s;
}

#productlink a:hover {
 transition: 0.8s;
 color:black;
border-bottom: 12px solid deepskyblue;

}










a:after {
    color: #4BD6FF;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  /* position: absolute; */
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}



label {
  display: block;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


	#container {
    background: white;
    opacity: 0.8;
		width: 944px;
    margin: 50px auto 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    /* min-height:800px; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	}


#container p{
   text-shadow: 1px 1px white;
}

br {
  line-height:1px;
}

#container br{
  line-height: 20px;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color:midnightblue;
  font-family: roboto;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  box-shadow: 0 0 0px black;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  height: 40px;
  padding: 10px;
width: 102%;
margin-left: -8px;
margin-top: -10px;
position: fixed;
  top: 10px ;
  z-index: 9999;
}


nav a {
  font-size: 10px;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  color: white;
  margin: 1em;
  padding: 10px;
}

nav a:hover{
  background: deepskyblue;
  color: white;
  /* letter-spacing: 10px; */
  font-size: 10px;
  padding: 10px;
}





.title{
  background:transparent;
  transition: padding-top 1s, color 0.3s;
padding-top: -200px;
margin-top: -220px;
padding-bottom: -80px;
margin-bottom: -80px;
/* margin-top: 400px; */
    /* margin: 50px auto 0 auto; */